DB_HOST=localhost
DB_PASSWORD=postgres
DB_USER=postgres
DB_NAME=erp-mes
DB_PORT=5432

HTTP_PORT=8080
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=20s
HTTP_IDLE_TIMEOUT=60s
HTTP_SHUTDOWN_TIMEOUT=20s
